body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.pages-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

address {
    font-style: normal;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-header .weblogo {
    color: #2e2f42;
}

.logo-footer .weblogo {
    color: #f4f4fd;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.list-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link-contacts {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.navigation-link:hover,
.navigation-link:focus,
.link-contacts:hover,
.link-contacts:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-wrapper {
    display: block;
    text-align: center;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button {
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
}

.team-section {
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    background: #FFFFFF;
}

.team-text {
    padding-bottom: 72px;
}

.image-container {
    padding: 32px 16px;
    text-align: center;
}

.item-name {
    padding-bottom: 8px;
}

.team-section {
    background-color: #f4f4fd;
}

.team-section h2 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

.team ul li {
    background-color: #ffffff;
}

.team ul h3,
.team ul p {
    text-align: center;
}

.portfolio-section {
    padding: 120px 0;
}

.portfolio-post {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
}

.post-subtitle {
    padding-bottom: 72px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
}

.img-port-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.text-footer {
    max-width: 264px;
}

.logo-footer {
    padding-bottom: 16px;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


